
<div>
    <label style="display:inline-block">@ViewBag.USerNameAndInitials</label>
    <div>
        <label>@ViewBag.UserName</label>
        <label>@ViewBag.LoanId</label>
        <label>@ViewBag.UserAddress</label>
        </div>
    </div>